<html>

 <form name = "reset" action="reset"  method="post" onsubmit="" >
  <div class="container">
    <h1>Reset Password</h1>
    <p>Please fill in this form to reset password.</p>
    <hr>

	<label for="stdnum"><b>Student Number</b></label>
    <input type="number" placeholder="Enter Student Number" name="stdnum" required>
<p>
</p>

    <label for="emailadd"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="emailadd" required>
<p>
</p>

    <label for="newpsw"><b>Reset Password</b></label>
    <input type="password" placeholder="Enter New Password" name="newpsw" id ="newpsw" required>
<p>
</p>
    <label for="newcpsw"><b>Confirm New Password</b></label>
    <input type="password" placeholder="Confirm New Password" name="newpsw-confirm" id = "newcpsw" required>
    <hr>
<p>
</p>
   <!--
   <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
   -->
    <button type="submit" class="resetbtn">Reset</button>
  </div>

 <!-- <div class="container signin">
    <p>Already have an account? <a href="#">Sign in</a>.</p>
  </div>
-->




</form>
